<%= form_for [@event, @slideshow] do |f| %>
  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class='field'>
    <%= f.label :url %>
    <%= f.file_field :url %>
  </div>
  <div class='actions'>
    <%= f.submit 'Save' %>
  </div>
<% end %>
