<%= content_for :page_title do %>
  <h1><%= @event.name %></h1>
<% end %>

<%= content_for :top_bar_options do %>
  <%= link_to 'Back to Events', events_path, class: 'top-bar-option' %>
  <%= link_to "Edit \"#{@event.name}\"", edit_event_path(@event), class: 'top-bar-option' %>
  <%= link_to '+ New Slideshow', new_event_slideshow_path(@event), class: 'top-bar-option top-bar-option-green' %>
<% end %>

<div id='slideshows-container'>
  <% if @event.slideshows.empty? %>
    <div>No slideshows have been uploaded for the event yet.</div>
  <% end %>

  <div id='slideshows-list'>
    <% @event.slideshows.each_with_index do |slideshow, index| %>
      <div class='slideshow-item<%= ' slideshow-item-last' if (index + 1) % 4 == 0 %>'
           style="background-image: url(<%= slideshow.first_slide_image_url %>);">
        <span class='slideshow-url'><%= event_slideshow_path(@event, slideshow) %></span>
        <span class='slideshow-item-overlay'><%= slideshow.name %></span>
        <%= link_to 'Edit', slideshow_slides_path(slideshow), class: 'slideshow-item-edit-link' %>
      </div>
    <% end %>
    <div class='clear'><!-- --></div>
  </div>
</div>
