
<div class="event-image">
  <% if @event.image %>
    <%= image_tag @event.image %>
  <% end %>
</div>

<div class="event-details">
  <p>
   <h1><%= @event.name %></h1>
  </p>


  <%= link_to 'New SlideShow', new_event_slideshow_path(@event.id) %><br/><br/>

  <ul>
    <% @event.slideshows.each do |slideshow| %>
      <li><%= link_to slideshow.name, event_slideshow_path(@event, slideshow) %></li>
    <% end %>
  </ul>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>
</div>


