<!DOCTYPE html>
<html>
<head>
  <title>Dashboard Design Title</title>
  <%= stylesheet_link_tag 'dashboard' %>
  <%= javascript_include_tag 'dashboard' %>
  <%= cloudinary_js_config %> 
</head>
<body id='<%= controller_name.parameterize %>-controller' class='<%= params[:action] %>-action'>
  <div id='container'>
    <div id='top-bar'>
      <div id='top-bar-title'>
        <%= yield :page_title %>
      </div>
      <div id='top-bar-options'>
        <%= yield :top_bar_options %>
      </div>       
      <div class='clear'><!-- --></div>
    </div>
    <div id='page-content'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
